<div id="intro" class="parallax-window" data-parallax="scroll" data-image-src="./uploads/img/antique-cafe-bg-01.jpg">
    <nav id="tm-nav" class="fixed w-full">
        <div class="tm-container mx-auto px-2 md:py-6 text-right">
            <button class="md:hidden py-2 px-2" id="menu-toggle"><i
                    class="fas fa-2x fa-bars tm-text-gold"></i></button>
            <ul class="mb-3 md:mb-0 text-2xl font-normal flex justify-end flex-col md:flex-row">
                <li class="inline-block mb-4 mx-4"><a href="#intro" class="tm-text-gold py-1 md:py-3 px-4">Intro</a>
                </li>
                <li class="inline-block mb-4 mx-4"><a href="#menu" class="tm-text-gold py-1 md:py-3 px-4">Menu</a>
                </li>
                <li class="inline-block mb-4 mx-4"><a href="#about" class="tm-text-gold py-1 md:py-3 px-4">About</a>
                </li>
                <li class="inline-block mb-4 mx-4"><a href="#contact"
                        class="tm-text-gold py-1 md:py-3 px-4">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto px-2 tm-intro-width">
        <div class="sm:pb-60 sm:pt-48 py-20">
            <div class="bg-black bg-opacity-70 p-12 mb-5 text-center">
                <h1 class="text-white text-5xl tm-logo-font mb-5">Antique Cafe</h1>
                <p class="tm-text-gold tm-text-2xl">Sẵn lòng phục vụ</p>
            </div>
            <div class="bg-black bg-opacity-70 p-10 mb-5">
                <p class="text-white leading-8 text-sm font-light">
                    Đây là website quán cà phê có tên Antique Cafe, là trang website đặt hàng có giao diện đẹp.
                    Nếu bạn có bất kỳ câu hỏi nào, xin vui lòng <a rel="nofollow" href="https://www.tooplate.com/contact"
                        target="_parent">Liên hệ đến 038 576 4408</a>. </p>
            </div>
            <div class="text-center">
                <div class="inline-block">
                    <a href="#menu"
                        class="flex justify-center items-center bg-black bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition">
                        <i class="fas fa-coffee mr-3"></i>
                        <span> Khám phá </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>